---
http_interactions:
- request:
    method: post
    uri: https://api.surveymonkey.net/v2/surveys/get_survey_list?api_key=9fakeapikeynumberinhereq
    body:
      encoding: UTF-8
      string: "{ }"
    headers:
      Authorization:
      - bearer UFHRfakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttokeniI=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Sm-Request-Id:
      - 47bdec92-c195-4515-bcb0-ba9bc6e1bf56
      X-Mashery-Message-Id:
      - a99fc336-bec9-4977-9eb2-947b0a0ed242
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-19.mashery.com
    body:
      encoding: UTF-8
      string: "{\"status\": 0, \"data\": {\"surveys\": [{\"survey_id\": \"50144489\"},
        {\"survey_id\": \"50144354\"}, {\"survey_id\": \"50143846\"}], \"page\": 1,
        \"page_size\": 1000}}"
  recorded_at: Tue, 18 Mar 2014 22:31:31 GMT
- request:
    method: post
    uri: https://api.surveymonkey.net/v2/surveys/get_survey_details?api_key=9fakeapikeynumberinhereq
    body:
      encoding: UTF-8
      string: "{\"survey_id\":\"50144489\"}"
    headers:
      Authorization:
      - bearer UFHRfakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttokeniI=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Sm-Request-Id:
      - 1c23feb9-b70d-45f8-a9d6-6a68913d3f77
      X-Mashery-Message-Id:
      - 863ba947-9dcc-4df9-b1a5-a90a1501fd08
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-13.mashery.com
    body:
      encoding: UTF-8
      string: "{\"status\": 0, \"data\": {\"custom_variables\": [], \"title\": {\"text\":
        \"Test Survey 3\", \"enabled\": true}, \"language_id\": 1, \"custom_variable_count\":
        0, \"nickname\": \"\", \"pages\": [{\"sub_heading\": null, \"questions\":
        [{\"answers\": [{\"text\": \"Image 1\", \"visible\": false, \"position\":
        0, \"type\": \"label\", \"answer_id\": \"7303915438\"}, {\"visible\": true,
        \"position\": 0, \"type\": \"img\", \"answer_id\": \"7303915439\"}], \"type\":
        {\"subtype\": \"image\", \"family\": \"presentation\"}, \"position\": 1, \"heading\":
        \"Presentation, Image\", \"question_id\": \"630845763\"}, {\"answers\": [{\"text\":
        \"Descriptive Text 1\", \"visible\": false, \"position\": 0, \"type\": \"label\",
        \"answer_id\": \"7303916577\"}], \"type\": {\"subtype\": \"descriptive_text\",
        \"family\": \"presentation\"}, \"position\": 2, \"heading\": \"Presentation,
        Descriptive Text\", \"question_id\": \"630845868\"}], \"page_id\": \"161399988\",
        \"heading\": \"\"}, {\"sub_heading\": \"\", \"questions\": [{\"type\": {\"subtype\":
        \"single\", \"family\": \"matrix\"}, \"answers\": [{\"text\": \"Row 1\", \"visible\":
        true, \"position\": 1, \"type\": \"row\", \"answer_id\": \"7303936930\"},
        {\"text\": \"Row 2\", \"visible\": true, \"position\": 2, \"type\": \"row\",
        \"answer_id\": \"7303936931\"}, {\"text\": \"Row 3\", \"visible\": true, \"position\":
        3, \"type\": \"row\", \"answer_id\": \"7303936932\"}, {\"text\": \"Row 4\",
        \"visible\": true, \"position\": 4, \"type\": \"row\", \"answer_id\": \"7303936935\"},
        {\"text\": \"Other (please specify)\", \"visible\": true, \"apply_all_rows\":
        false, \"type\": \"other\", \"answer_id\": \"7303936928\"}, {\"text\": \"Column
        1\", \"visible\": true, \"position\": 1, \"type\": \"col\", \"answer_id\":
        \"7303936936\"}, {\"text\": \"Column 2\", \"visible\": true, \"position\":
        2, \"type\": \"col\", \"answer_id\": \"7303936937\"}, {\"text\": \"Column
        3\", \"visible\": true, \"position\": 3, \"type\": \"col\", \"answer_id\":
        \"7303936939\"}, {\"text\": \"Column 4\", \"visible\": true, \"position\[...]
[...]
- request:
    method: post
    uri: https://api.surveymonkey.net/v2/surveys/get_respondent_list?api_key=9fakeapikeynumberinhereq
    body:
      encoding: UTF-8
      string: "{\"survey_id\":\"50144489\"}"
    headers:
      Authorization:
      - bearer UFHRfakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttokeniI=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Sm-Request-Id:
      - 23a61a71-947f-4071-a129-7163de9cad9f
      X-Mashery-Message-Id:
      - 5c3f16cb-c159-488c-aa31-3463b2014f2a
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-17.mashery.com
    body:
      encoding: UTF-8
      string: "{\"status\": 0, \"data\": {\"respondents\": [{\"respondent_id\": \"3131170764\"},
        {\"respondent_id\": \"3131170081\"}, {\"respondent_id\": \"3131168491\"}],
        \"page\": 1, \"page_size\": 1000}}"
  recorded_at: Tue, 18 Mar 2014 22:34:23 GMT
[...]
- request:
    method: post
    uri: https://api.surveymonkey.net/v2/surveys/get_responses?api_key=9fakeapikeynumberinhereq
    body:
      encoding: UTF-8
      string: "{\"survey_id\":\"50144489\",\"respondent_ids\":[\"3131170764\",\"3131170081\",\"3131168491\"]}"
    headers:
      Authorization:
      - bearer UFHRfakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttoken-fakeaccounttokeniI=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Sm-Request-Id:
      - dff0aef8-a408-4a5a-bc15-fce616a8b788
      X-Mashery-Message-Id:
      - 5aa90181-dbad-4400-a732-335507b4b46e
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-17.mashery.com
    body:
      encoding: UTF-8
      string: "{\"status\": 0, \"data\": [{\"respondent_id\": \"3131170764\", \"questions\":
        [{\"answers\": [{\"col\": \"7303936936\", \"row\": \"7303936930\"}, {\"col\":
        \"7303936937\", \"row\": \"7303936931\"}, {\"col\": \"7303936937\", \"row\":
        \"7303936932\"}, {\"col\": \"7303936936\", \"row\": \"7303936935\"}, {\"text\":
        \"Other + Choices\", \"row\": \"0\"}], \"question_id\": \"630847884\"}, {\"answers\":
        [{\"col\": \"7303938766\", \"row\": \"7303938762\"}, {\"col\": \"7303938766\",
        \"row\": \"7303938763\"}, {\"col\": \"7303938767\", \"row\": \"7303938763\"},
        {\"text\": \"Other + Choices\", \"row\": \"0\"}], \"question_id\": \"630848002\"},
        {\"answers\": [{\"col\": \"7303942788\", \"col_choice\": \"7303942791\", \"row\":
        \"7303942785\"}, {\"col\": \"7303942792\", \"col_choice\": \"7303942794\",
        \"row\": \"7303942785\"}, {\"col\": \"7303942796\", \"col_choice\": \"7303942798\",
        \"row\": \"7303942785\"}, {\"col\": \"7303942788\", \"col_choice\": \"7303942789\",
        \"row\": \"7303942786\"}, {\"col\": \"7303942788\", \"col_choice\": \"7303942791\",
        \"row\": \"7303942787\"}, {\"text\": \"Other + Choices\", \"row\": \"0\"}],
        \"question_id\": \"6308[...]
[...]
